In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/farzan/robot/IMS22/csv_html/BTCUSDT_h4.csv')

In [3]:
df

       open_time     open     high      low    close  fractal_h4  fractal_d
0     1585137600   6500.0   6628.5   6457.5   6511.5           0        0.0
1     1585152000   6511.5   6745.5   6502.0   6615.0           0        0.0
2     1585166400   6615.0   6695.5   6592.5   6622.0           0        0.0
3     1585180800   6622.0   6698.5   6556.0   6698.5           0        0.0
4     1585195200   6698.5   6767.0   6655.0   6726.5           0        0.0
...          ...      ...      ...      ...      ...         ...        ...
5801  1660233600  24547.0  24950.0  24271.5  24337.0           0        0.0
5802  1660248000  24337.0  24411.0  24070.0  24215.5           0        0.0
5803  1660262400  24215.5  24325.5  23850.0  23927.0           0        0.0
5804  1660276800  23927.0  24084.5  23754.5  23999.5           0        0.0
5805  1660291200  23999.5  24038.5  23865.0  23934.5           0        0.0

[5806 rows x 7 columns]

In [4]:
df['fractal_h4'].value_counts()

 0    5380
 1     214
-1     212
Name: fractal_h4, dtype: int64

In [5]:
df['fractal_d'].value_counts()

 0.0    5688
-1.0      63
 1.0      55
Name: fractal_d, dtype: int64